<!DOCTYPE html>
<html>
  <head>
    <title>Profile</title>
  </head>
  <body>
    {% with messages = get_flashed_messages() %} {% if messages %} {% for
    message in messages %}
    <div
      style="background-color: {% if 'danger' in message %}red{% elif 'success' in message %}green{% else %}gray{% endif %}; color: white; padding: 10px;"
    >
      {{ message }}
    </div>
    {% endfor %} {% endif %} {% endwith %} {% if session.logged_in %}
    <h1>Welcome to Your Profile, {{ student_name }}!</h1>
    <img
      src="{{ url_for('uploaded_file', filename=photo_path.split('/')[-1]) }}"
      alt="Student Photo"
    />
    <br />
    <strong>Name:</strong> {{ student_name }}
    <br />
    <strong>Student ID:</strong> {{ student_id }}
    <br />
    <strong>Course End Date:</strong> {{ course_end_date }}
    <br />
    <a
      href="{{ url_for('download_qr_code', filename=qr_code_path.split('/')[-1]) }}"
      download
      >Download QR Code</a
    >
    <br />
    <form method="post" action="{{ url_for('delete_account') }}">
      <input type="submit" value="Delete Account" />
    </form>
    <form method="post" action="{{ url_for('logout') }}">
      <input type="submit" value="Logout" />
    </form>
    {% else %}
    <h1>Please log in to view your profile.</h1>
    {% endif %}
  </body>
</html>
